/.idea
/.vscode
*.log
.env

/runtime/*
!/runtime/file/export/index.html


/public/uploads/*
!/public/uploads/index.html


/config/install.lock

/public/upgrade/*
!/public/upgrade/version.json

/index.html
/.htaccess
/404.html
/public/.user.ini